html>
<h1>Please choose one</h1>
<head>
<title>Animal</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
<div class="container">
<a href="https://www.awf.org/wildlife-conservation/lion"><img src="https://cdn.cnn.com/cnnnext/dam/assets/160427111342-adi-lion-rescue-ricardo-exlarge-169.jpg" alt="lions are here" style="width:100%;"></a>
<div class="centered size">MAMMALS</div>

</div>

<div class="container">
<a href="http://www.reptilerescuecenter.org"><img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/chameleon-sleepy.ngsversion.1475241171293.adapt.1900.1.jpg" alt="reptiles are here" style="width:100%;"></a>
<div class="centered size">REPTILES</div>
</div>


<div class="container">
<a href="https://www.rainforesttrust.org/project/conservation-action-fund/"><img src="http://simplepimple.com/wp-content/uploads/2013/07/Frog-and-his-leaf-umbrella-3.jpg" alt="lions are here" style="width:100%;"></a>
<div class="centered size">AMPHIBIANS</div>
</div>


<div class="container">
<a href="https://www.sealifetrust.org"><img src= "http://2ap93t1x1l6e2f6gfo3ag4vw.wpengine.netdna-cdn.com/wp-content/uploads/2016/05/AO9-8-1000x480.jpg" alt="fish are here" style="width:100%;"></a>
<div class="centered size">MARINE</div>
</div>


 



</body>







</html>