<!DOCTYPE html> 
<html> 
<head> 
<title>Animal</title>
 <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
<div class="container">
<img src="https://cdn.cnn.com/cnnnext/dam/assets/160427111342-adi-lion-rescue-ricardo-exlarge-169.jpg" alt="lions are here" style="width:100%;">
<div class="centered size">MAMMALS</div> 
</div> 

<div class="container">
<img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/chameleon-sleepy.ngsversion.1475241171293.adapt.1900.1.jpg" alt="reptiles are here" style="width:100%;">
<div class="centered size">REPTILES</div> 
</div> 

<div class="container">
<img src= "http://simplepimple.com/wp-content/uploads/2013/07/Frog-and-his-leaf-umbrella-3.jpg" alt="lions are here" style="width:100%;">
<div class="centered size">AMPHIBIANS</div>
</div>

<




  
  
  
  
  
  
</body>







</html>