<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>charity_quiz</title>
   <link rel="stylesheet" type="text/css" href="style2.css">
 </head>

 <body>
   <h1>4Humanity</h1>
  <h8>Hello and welcome to 4Humanity! This website was made by us  girls Christina, Valeria, and Jazzy. We created this website to help you decide which charitiy would best suit what you want to support. We hope you enjoy using the website and find a charity you would like to support! 
Love,
Christina, Valeria, and Jazzy</h8>

<form method = "POST" action = "/charity">
<p> What is your name? <input type = "text" name = "username"></p>
<h2 class= "size">Would you like to support a human or animal charity? </h2>
<div class="size">
 
     <input type = "radio" name = "q1" value = "1">Human<br>
     <input type = "radio" name = "q1" value = "2">Animal<br>
 </div>
<input type="submit">  
 </form>




 </body>
</html>

<style>
h8 {
   font-size: 20px;
   font-family: "Monospace";
     </style>
     <style>
     h3 {
   font-size: 20px;
   font-family: "Monospace"; </style>
   <style>
   p {
   font-size: 30px;
   font-family: "Monospace";</style>
   
   <style>  
   input {
   font-size: 20px;
   font-family: "Monospace";</style>
   
   <style>   h1 {
   font-size: 70px;
   font-family: "Monospace";</style>
   
   <style>     {
   font-size: 20px;
   font-family: "Monospace";</style>