<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>charity_quiz</title>
 </head>

 <body>
   <h1>Charity Quiz</h1>
   

<form method = "POST" action = "/charity">
<p>What is your name? <input type = "text" name = "username"></p>
<h3>Would you like to support a human or animal charity? </h3>

     <input type = "radio" name = "q1" value = "human">human<br>
     <input type = "radio" name = "q1" value = "animal">animal<br>
 

<input type="submit">  
 </form>

 </body>
</html>