<!<!DOCTYPE html>
<html>
<head>
<title>Human</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="container">
  <a href=""><img src="http://wp.production.patheos.com/blogs/dharmadad/files/2015/05/starving-child-5.jpg" alt="humans are here" style="width:100%;"></a>
<div class="centered size">HUNGER/POVERTY</div>
</div>



<div class="container">
<img src="https://www.mercurynews.com/wp-content/uploads/2018/06/SJM-L-ICERALLY-0620-08.jpg?w=620" alt="immigration is here" style="width:100%;">
<div class="centered size">IMMIGRATION</div>
</div>



<div class="container">
<a href="http://preventchildabuse.org"><img src="http://keepkidssafe.org/wp-content/uploads/2015/06/myths-about-child-abuse.jpg"</a> alt="abuse is here" style="width:100%;"></a
<div class="centered size">ABUSE</div>
</div>

<div class="container">
<img src= "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/cleanup_after_illness_slideshow/493ss_getty_rf_sick_young_girl_in_bed_with_thermometer.jpg" alt="illness is here" style="width:100%;">
<div class="centered size">ILLNESS</div>
</div>
</body>
</html>DOCTYPE html> 
